<!DOCTYPE html>
<html lang="en">
  <title>insta485</title>
  <a href="/">home</a>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  &nbsp;
  <br />
  <form action="{{url_for('account_update')}}" method="post" enctype="multipart/form-data">
  <input type="text" name="username" required/>
  <input type="password" name="password" required/>
  <input type="submit" value="login" id ="logbutt"/>
  <input type="hidden" name="operation" value="login"/>
  </form>
  <br />
  <a href="/accounts/create/">Sign up</a>
</html>