<!DOCTYPE html>
<html lang="en">
  <title>insta485</title>
  <a href="/">home</a>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <a href="/explore/">explore</a>
  &nbsp;
  <a href="/users/{{ logname }}/">{{ logname }}</a>
  <br />
  <form action="{{url_for('account_update')}}" method="post" enctype="multipart/form-data">
  <input type="password" name="password" required/>
  <input type="password" name="new_password1" required/>
  <input type="password" name="new_password2" required/>
  <input type="submit" name="update_password" value="submit"/>
  <input type="hidden" name="operation" value="update_password"/>
</form>
  <br />
  <a href="/accounts/edit/">Back to edit account</a>
</html>